<main
  [@custom]="{
    value: '*',
    params: { opacity: '0.6' }
  }"
>
<ng-notify class="comp-notify" [notification]="notification"></ng-notify>
  <div class="app-page-statistics">
    <ng-text-statistic [title]="'管理员'">
      <a href="#">1</a>
    </ng-text-statistic>
    <ng-text-statistic [title]="'只读'">
      <a href="#">1</a>
    </ng-text-statistic>
  </div>
  <div class="app-page-actions">
    <div class="actions-start">
      <button
        mat-stroked-button
        [ngDisableIfUnauthorized]="'writable'"
        class="action"
        color="primary"
        (click)="create()"
      >
        <span class="material-icons">add</span>
        创建用户
      </button>
    </div>
    <div class="actions-end">
      <ng-filter class="action" (filter)="filter($event)"></ng-filter>
      <span class="ng-divider"></span>
      <button class="action" mat-icon-button color="primary">
        <span class="material-icons">refresh</span>
      </button>
    </div>
  </div>
  <div class="page-table">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row?.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> 姓名 </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row?.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> 状态 </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row?.state }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"> </mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>
    <ng-blank
      [placeholder]="'未找到任何用户'"
      *ngIf="dataSource.data.length === 0"
    ></ng-blank>
    <mat-paginator
      [pageSize]="pageSize"
      [length]="dataSource.data.length"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</main>
