<div class="info-line">
  姓名: <span class="user-info">{{ user?.name }}</span>
</div>

<div class="info-line">
  用户名: <span class="user-info">{{ user?.username }}</span>
</div>

<div class="info-line">
  邮箱: <span class="user-info">{{ user?.email }}</span>
</div>

<div class="info-line">
  部门: <span class="user-info">{{ user?.department }}</span>
</div>

<div class="info-line">
  组织: <span class="user-info">{{ user?.organization }}</span>
</div>

<div class="info-line">
  <span class="user-field">角色: </span>
  <ng-container [ngSwitch]="user?.role?.name">
    <span class="ng-chip chip-error" *ngSwitchCase="'admin'">
      {{ user?.role?.description }}
    </span>
    <span class="ng-chip chip-success" *ngSwitchCase="'readonly'">
      {{ user?.role?.description }}
    </span>
    <span class="ng-chip chip-info" *ngSwitchDefault>
      {{ user?.role?.description }}
    </span>
  </ng-container>
</div>

<div class="info-line">
  <span class="user-field">项目组: </span>
</div>
