<div class="info-line">
  姓名: <span class="profile-info">{{ user?.name }}</span>
</div>

<div class="info-line">
  用户名: <span class="profile-info">{{ user?.username }}</span>
</div>

<div class="info-line">
  邮箱: <span class="profile-info">{{ user?.email }}</span>
</div>

<div class="info-line">
  部门: <span class="profile-info">{{ user?.department }}</span>
</div>

<div class="info-line">
  组织: <span class="profile-info">{{ user?.orgnazation }}</span>
</div>

<div class="info-line profile-chips">
  <span class="profile-field">角色: </span>
  <mat-chip-list>
    <mat-chip color="accent" selected>{{ user?.role?.description }}</mat-chip>
  </mat-chip-list>
</div>

<div class="info-line profile-chips">
  <span class="profile-field">项目组: </span>
  <mat-chip-list>
    <mat-chip>北京 运维</mat-chip>
    <mat-chip>北京 开发</mat-chip>
    <mat-chip>北京 测试</mat-chip>
  </mat-chip-list>
</div>
