<div class="info-line">姓名: <span class="profile-info">哇咔</span></div>

<div class="info-line">用户名: <span class="profile-info">waka9999</span></div>

<div class="info-line">部门: <span class="profile-info">网研中心</span></div>

<div class="info-line">组织: <span class="profile-info">设计院</span></div>

<div class="info-line profile-chips">
  <span class="profile-field">角色: </span>
  <mat-chip-list>
    <mat-chip color="accent" selected>管理员</mat-chip>
  </mat-chip-list>
</div>

<div class="info-line profile-chips">
  <span class="profile-field">项目组: </span>
  <mat-chip-list>
    <mat-chip>北京 运维</mat-chip>
    <mat-chip>北京 开发</mat-chip>
    <mat-chip>北京 测试</mat-chip>
  </mat-chip-list>
</div>
