<ng-progress-bar #progressbar></ng-progress-bar>
<ng-header>
  <ng-header-brand [brand]="brand" class="header-brand"></ng-header-brand>
  <ng-header-navbar
    class="header-navbar"
    *ngIf="!mobile.isHandset"
    [items]="header.navbarItems"
  ></ng-header-navbar>
  <ng-header-navbar
    class="header-navbar-row"
    *ngIf="mobile.isHandset"
    [items]="header.navbarItems"
  ></ng-header-navbar>
  <ng-header-user class="header-menu" [user]="header.user">
    <button mat-menu-item title="账号" (click)="account()">账号</button>
    <mat-divider></mat-divider>
    <button mat-menu-item title="注销" (click)="logout()">注销</button>
  </ng-header-user>
</ng-header>
<router-outlet></router-outlet>
