<ng-progress-bar #progressbar></ng-progress-bar>
<ng-header>
  <ng-header-brand [brand]="brand" class="header-brand"></ng-header-brand>
  <ng-header-navbar
    [items]="headerItems"
    class="header-navbar"
    *ngIf="!mobile.isHandset"
  ></ng-header-navbar>
  <ng-header-navbar
    [items]="headerItems"
    class="header-navbar-row"
    *ngIf="mobile.isHandset"
  >
  </ng-header-navbar>
  <ng-header-menu
    class="header-end"
    [username]="username"
    *ngIf="username"
  >
    <button mat-menu-item title="账号" (click)="account()">账号</button>
    <mat-divider></mat-divider>
    <button mat-menu-item title="注销" (click)="logout()">注销</button>
  </ng-header-menu>
  <a
    mat-button
    class="header-end"
    [routerLink]="'/auth'"
    [title]="'登录'"
    *ngIf="!username"
    >登录</a
  >
</ng-header>
<router-outlet></router-outlet>
