@import "/projects/templates/src/lib/style/page";
@import "./table";

.ng-web {
  main {
    @include ng-web-layout-main;
  }
}

.ng-tablet {
  main {
    @include ng-tablet-layout-main;
  }
}

@mixin ng-margin-overflow {
  margin: 0 calc(var(--ng-delta) * -2);
  width: calc(100% + calc(var(--ng-delta) * 4));
}

.ng-handset {
  main {
    @include ng-handset-layout-main;
    .margin-overflow {
      @include ng-margin-overflow;
    }
  }
}

.app-page {
  @include relative-block;
  width: 100%;
  min-height: 100vh;
}

.column-center-center {
  @include ng-flex-column-center-center;
}

.app-page-actions {
  @include ng-flex-row-between-center;
  margin-bottom: 1rem;
  .actions-start {
    @include ng-flex-row-start-center;
  }
  .actions-end {
    @include ng-flex-row-end-center;
  }
  .action + .action,
  .action + .ng-divider {
    margin-left: 0.5rem;
  }
  .mat-button-wrapper {
    @include ng-flex-row-around-center;
  }
}

.app-page-statistics {
  @include ng-flex-row-end-center;
  margin-bottom: 1rem;
  .ng-text-statistic + .ng-text-statistic {
    margin-left: var(--ng-delta);
  }
}

.ng-handset {
  .app-page-statistics {
    @include ng-flex-row-between-center;
  }
}
