@import "/node_modules/@angular/material/theming";
@import "/projects/templates/src/lib/style/theme";

@include mat-core();

$ng-primary: mat-palette($mat-indigo);
$ng-accent: mat-palette($mat-amber);
$ng-warn: mat-palette($mat-red);
$ng-light-theme: mat-light-theme(
  (
    color: (
      primary: $ng-primary,
      accent: $ng-accent,
      warn: $ng-warn,
    ),
  )
);

.ng-light-theme {
  @include angular-material-theme($ng-light-theme);
  @include ng-header-theme($ng-light-theme);
  @include ng-heading-theme($ng-light-theme);
  @include ng-nav-list-theme($ng-light-theme);
  @include ng-error-theme($ng-light-theme);
  @include ng-divider-theme($ng-light-theme);
  @include ng-blank-theme($ng-light-theme);
  @include ng-table-theme($ng-light-theme);
  @include ng-notify-theme($ng-light-theme);
}

@import "../about/about-theme";
@import "../account/account-theme";

.ng-light-theme {
  @include app-about-theme($ng-light-theme);
  @include app-account-theme($ng-light-theme);
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}
