<form class="password-form" (ngSubmit)="submit()">
  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="旧密码"
      [formControl]="password"
      [errorStateMatcher]="matcher"
      tabindex="1"
    />
    <mat-error *ngIf="password.hasError('required')">
      旧密码必须输入
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="新密码"
      [formControl]="password1"
      [errorStateMatcher]="matcher"
      tabindex="2"
    />
    <mat-error *ngIf="password1.hasError('required')">
      新密码必须输入
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="新密码"
      [formControl]="password2"
      [errorStateMatcher]="matcher"
      tabindex="3"
    />
    <mat-error *ngIf="password2.hasError('required')">
      新密码必须输入
    </mat-error>
    <mat-error *ngIf="password2.hasError('notMatch')">
      新密码不一致
    </mat-error>
  </mat-form-field>
  <div class="form-actions">
    <button
    type="submit"
    mat-flat-button
    [ngDisableIfUnauthorized]="'writable'"
    color="primary"
    tabindex="4"
    [disabled]="formGroup.invalid || formGroup.disabled"
  >
    提交
  </button>
  </div>
</form>
